[
  {sasl, [
          {sasl_error_logger, false},
          {errlog_type, error},
          {error_logger_mf_dir, "/Users/xiaotie/Documents/code/erlang_code/programming_erlang_2nd/23/error_logs"},
          {error_logger_mf_maxbytes, 10485760},
          {error_logger_mf_maxfiles, 1}
        ]
  }
].